button
{
    background-color: #f3d8e7;
    color: black;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
button {width: 95px;}

input[type=text]
{
    width: 20.65%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3d8e7;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-family: verdana;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #b3d9ff;
}